
<h1>.::Usuários::.</h1>

<table>
  <thead>
    <tr>
      <th>Usuários - Email</th>
      <th>Role - Controle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        
      </tr>
    <% end %>
   <%= paginate @users %>
  </tbody>
</table>

<br>
